.wangEditor {
  :global {
    .w-e-text-container {
      min-height: 200px;
    }

    .w-e-toolbar {
      z-index: 1;
    }

    .w-e-bar {
      z-index: 10;
    }

    .w-e-text-placeholder {
      font-style: italic;
      color: #bfbfbf;
    }
  }
}
